
<div id="site-footer">
    <section id="footerArea">
        <div id="footerRegion" data-region-key="footerregion">
            <div id="footerUniversalFooter" data-module-id="Category|footerRegion|footerRegion|footerUniversalFooter|coreui-universalfooter">
                <footer id="uhf-footer" role="contentinfo" class="c-uhff context-uhf" data-uhf-mscc-rq="false" data-footer-footprint="en-us/amc/amc-L0-footer">
                    <div class="c-uhff-base">
                        <ul id="contentinfo" class="c-list f-bare" style="text-align: center;">
                            <!--li>
                                <a class="c-uhff-link" href="https://go.planeta.guru/fwlink/?LinkID=521839"><i18n>i18n.ix.px.account.text.tu</i18n></a>
                            </li-->
                            <li>
                                <a class="c-uhff-link" target="_blank" href="https://oauth.planeta.guru/oauth/legal/<locale/>/privacy-statement"><i18n>i18n.ix.px.account.text.pc</i18n></a>
                            </li>
                            <li>
                                <a class="c-uhff-link" target="_blank" href="https://oauth.planeta.guru/oauth/legal/<locale/>/privacy-statement"><i18n>i18n.ix.px.account.text.hw</i18n></a>
                            </li>
                            <li>
                                <a class="c-uhff-link" href="mailto:soporte@planeta.guru"><i18n>i18n.ix.px.account.text.cu</i18n></a>
                            </li>
                            <!--  <li>              
                                  <a class="c-uhff-link" href="javascript:MeePortal.Feedback.control.show()"><i18n>i18n.ix.px.account.text.feedback</i18n></a>
                              </li> -->
                            <li>© Planeta Guru <year/></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </section>
    <div class="loading-wheel">
        <div class="spinner">
            <i class="zmdi zmdi-settings zmdi-hc-5x zmdi-hc-spin"></i>
        </div>
    </div>
</div>
