
<!--link rel="stylesheet" href="https://assets.planeta.guru/css/oauth/material-design-iconic-font.min.css"-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="/file/resources/web/css/converged-20181012.css" type="text/css" media="all">
<style>.c-uhfh>div:first-child .c-logo .c-image {margin-top: -7px;max-width: none;width: 145px;}</style>
<script type="text/javascript">var uparams = {};</script>
<script type="text/javascript" src="https://assets.planeta.guru/js/oauth/pgs-min.js"></script>
<script>
    $(document).ready(function () {
        mainMenu();
    });
</script>

<script type="text/html" id="siteHeaderScript">
    <noscript>
    &lt;div class="m-alert f-warning site-alert" role="alert"&gt;
    &lt;div&gt;
    &lt;div class="c-glyph glyph-warning" aria-label="Warning message"&gt;&lt;/div&gt;
    &lt;p class="c-paragraph"&gt;
    To use everything on this website, turn on JavaScript in your browser settings.
    &lt;span class="c-group"&gt;&lt;a class="c-action-trigger" href="http://go.planeta.guru/fwlink/p/?LinkId=616795"&gt;Learn how&lt;/a&gt;&lt;/span&gt;
    &lt;/p&gt;
    &lt;/div&gt;
    &lt;/div&gt;
    </noscript>
    <div id="no-cookies">
        <div class="m-alert f-warning site-alert" role="alert">
            <div>
                <div class="c-glyph glyph-warning" aria-label="Warning message"></div>
                <p class="c-paragraph">
                    To use everything on this website, turn on cookies in your browser settings. <a href="http://go.planeta.guru/fwlink/?LinkId=313221">Read why and how we use cookies.</a>
                    <span class="c-group"><a class="c-action-trigger" href="http://go.planeta.guru/fwlink/p/?LinkId=616796">Learn how</a></span>
                </p>
            </div>
        </div>
    </div>

    <div id="sharedshell-header">
        <section id="headerArea">
            <div id="headerRegion">
                <div id="headerUniversalHeader">
                    <a class="m-skip-to-main" href="#main-content-landing" tabindex="0" style="z-index:3000002">Skip to main content</a>

                    <header role="banner" class="c-uhfh context-uhf js" itemscope="itemscope" data-header-footprint="en-us/amc/amc-L0-header" data-ckrate="0.1" itemtype="http://schema.org/Organization">
                        <div id="divMobNav" class="theme-light js-global-head f-closed" >
                            <div class="c-uhfh-gcontainer">
                                <button id="btnMobNav" class="c-action-trigger c-glyph glyph-global-nav-button x-hidden-focus" aria-label="Header navigation menu" aria-expanded="false"></button>

                                <a id="uhfLogo" class="c-logo" itemprop="url" href="<canonical/>/account/" aria-label="Planeta Guru">
                                    <img class="c-image" alt="Planeta Guru" src="https://assets.planeta.guru/images/oauth/pg_logox.png">
                                    <span>Planeta Guru</span>
                                </a>
                                <div class="f-mobile-title">
                                    <span data-global-title="PlanetaGuru home" class="js-mobile-title"><i18n>i18n.ix.px.text.account</i18n></span>
                                </div>

                                <!--button class="c-action-trigger c-glyph glyph-chevron-left js-primary-paddle" aria-label="Show previous" tabindex="-1" style="display: none;"></button-->
                                <nav id="uhf-g-nav" class="c-uhfh-gnav" aria-labelledby="uhfLogo" role="navigation">
                                    <ul class="" aria-labelledby="Products-navigation" aria-hidden="true">
                                        <li>
                                            <div class="c-uhf-menu js-nav-menu">
                                                <button id="Products-navigation" aria-expanded="false" aria-haspopup="true" style="white-space:nowrap" class="x-hidden-focus"><i18n>i18n.ix.px.text.products</i18n></button>
                                                <ul class="" aria-labelledby="Products-navigation" aria-hidden="true" role="none" style="">
                                                    <li class="f-sub-menu js-nav-menu" >
                                                        <button id="Software&amp;services-navigation" aria-expanded="false" class="x-hidden-focus"><i18n>i18n.ix.px.text.software</i18n> &amp; <i18n>i18n.ix.px.text.services</i18n></button>
                                                        <ul aria-labelledby="Software&amp;services-navigation" aria-hidden="true" role="none">
                                                            <product-item/>
                                                        </ul>
                                                    </li> 
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a id="l1_support" class="c-uhf-nav-link" href="mailto:soporte@planeta.guru"><i18n>i18n.ix.px.text.support</i18n></a>
                                        </li>            
                                    </ul>
                                </nav>

                                <!--button class="c-action-trigger c-glyph glyph-chevron-right js-secondary-paddle" aria-label="Show next" tabindex="-1" style="display: none;"></button-->
                                <div id="xxx" class="c-uhfh-actions">
                                    <div id="callbackControl" class="c-me" style="<adminSiteDisplay/>">
                                        <div class="msame_Header msame_Short" role="button" tabindex="0" style="height: 48px;outline: 1px !important;">
                                            <div aria-hidden="true">
                                                <i class="zmdi zmdi-view-web zmdi-hc-lg" style="line-height: 53px;color: rgba(0,0,0,.8);overflow: hidden;"></i>
                                                <div class="msame_Header_name msame_TxtTrunc x-hidden-focus" style="line-height: 48px;padding-left: 4px;">
                                                    <a href="<adminSiteURL/>"> Admin Site </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="bar" style="<adminSiteDisplay/>">|</div>
                                    <!--  <div id="eventControl" class="c-me">
                                          <div class="msame_Header msame_Short" role="button" tabindex="0" style="height: 48px;outline: 1px !important;">
                                              <div aria-hidden="true">
                                                  <i class="zmdi zmdi-movie zmdi-hc-lg" style="line-height: 53px;color: rgba(0,0,0,.8);overflow: hidden;"></i>
                                                  <div class="msame_Header_name msame_TxtTrunc x-hidden-focus" style="line-height: 48px;padding-left: 4px;"><i18n>i18n.ix.px.text.events</i18n></div>
                                              </div>
                                          </div>
                                      </div>
                                      <div id="bar">|</div> -->
                                    <div id="meControl" class="c-me">
                                        <div class="msame_Header msame_Short" role="button" tabindex="0" style="height: 48px;outline: 1px !important;">
                                            <div aria-hidden="true">
                                                <i class="zmdi zmdi-account zmdi-hc-lg" style="line-height: 46px;color: rgba(0,0,0,.8);overflow: hidden;"></i>
                                                <div class="msame_Header_name msame_TxtTrunc x-hidden-focus" style="line-height: 48px;padding-left: 4px;"><%=params.nickname %></div>
                                                <div class="msame_Header_pic">
                                                    <div class="msame_Header_piccont" style="padding-top: 6px; padding-bottom: 6px;">
                                                        <div class="msame_Header_picframe" style="height: 36px; width: 36px;">
                                                            <img role="presentation" src="<%=params.photoURL %>" alt="" style="height: 36px; width: 36px;">
                                                        </div></div></div>
                                                <div class="msame_Header_chev"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="theme-dark brand-blue js-cat-head" itemprop="brand" itemscope="itemscope" itemtype="http://schema.org/Brand">

                            <div class="nav-sections">
                                <a id="uhfCatLogo" class="c-logo" href="<canonical/>/account/" aria-label="Account" itemprop="url">
                                    <span><i18n>i18n.ix.px.text.account</i18n></span>
                                </a>
                                <nav id="uhf-c-nav" role="navigation" aria-labelledby="uhfCatLogo" class="js-paddle-items c-uhfh ">
                                    <a id="mobileHomeLink" class="c-uhf-nav-link x-uhf-zero-width" href="<canonical/>/account/" style="transition: margin 0.667s cubic-bezier(0.16, 1, 0.29, 0.99);"><i18n>i18n.ix.px.text.home</i18n></a>
                                    <a id="sharedshell-profile" class="c-uhf-nav-link" href="<canonical/>/account/profile" ><i18n>i18n.ix.px.text.profile</i18n></a>
                                    <a id="sharedshell-security" class="c-uhf-nav-link" href="<canonical/>/account/security"><i18n>i18n.ix.px.text.security</i18n></a>
                                    <a id="sharedshell-transactions" class="c-uhf-nav-link" href="<canonical/>/account/transactions"><i18n>i18n.ix.px.account.menu.paymentBilling</i18n></a>
                                    <a id="sharedshell-subscriptions" class="c-uhf-nav-link" href="<canonical/>/account/subscriptions"><i18n>i18n.ix.px.text.subscriptions</i18n></a>
                                    <!--  <a id="sharedshell-services" class="c-uhf-nav-link" href="<canonical/>/account/store"><i18n>i18n.ix.px.text.store</i18n></a>
                                      <a id="sharedshell-devices" class="c-uhf-nav-link" href="<canonical/>/account/" ><i18n>i18n.ix.px.text.devices</i18n></a>
                                      <a id="sharedshell-friends" class="c-uhf-nav-link" href="<canonical/>/account/"><i18n>i18n.ix.px.text.friends</i18n></a> -->
                                    <a id="sharedshell-subscriptions" class="c-uhf-nav-link return-page-crt" href="<returnToPageURL/>" alt="<returnToPage/>" style="float:right;">
                                        <i class="zmdi zmdi-undo"></i><span style="color:cyan;margin-left:5px;"><returnToPage/></span>
                                    </a>
                                </nav>
                                <div class="mobile-links-wrapper" style="display: none;">
                                    <li class="top-links__link top-links__link--eventos" style="<adminSiteDisplay/>">
                                        <!--i class="zmdi zmdi-view-web zmdi-hc-lg" style="line-height: 53px;color: rgba(0,0,0,.8);overflow: hidden;"></i-->
                                        <a href="<adminSiteURL/>"><i class="zmdi zmdi-view-web zmdi-hc-lg"></i><span>Admin Site</span></a>
                                    </li>
                                    <!--li class="top-links__link top-links__link--eventos">
                                        <a href="<canonical/>/account/"><i class="icon-eventos"></i><span><i18n>i18n.ix.px.text.events</i18n></span></a>
                                    </li-->
                                    <div class="custom-group header-links" id="header-links1521613899" style="border-bottom: 1px solid #d5d5d5;">
                                        <div id="header-link-menu-x" class="actions dropdown options header-links-options">
                                            <div class="action toggle switcher-trigger" id="header-links-trigger1521613899">
                                                <i class="icon-micuenta"></i><i18n>i18n.ix.px.account.menu.myAccount</i18n>
                                            </div>
                                            <div id="header-link-menu-x-disp" class="" tabindex="-1" role="dialog" aria-describedby="ui-id-2" style="display: none;">
                                                <ul class="dropdown header-links-dropdown" id="ui-id-2" style="display: block;text-transform: initial;">
                                                    <li><i class="zmdi zmdi-account-circle" style="margin-right: 5px;"></i><a href="<canonical/>/account/profile"><i18n>i18n.ix.px.text.profile</i18n></a></li>
                                                    <li><i class="zmdi zmdi-check-all" style="margin-right: 5px;"></i><a href="<canonical/>/account/signout/sso"><i18n>i18n.ix.px.account.menu.signoutEverywhere</i18n></a></li>
                                                    <li><i class="zmdi zmdi-check" style="margin-right: 5px;"></i><a href="<canonical/>/account/signout/slo"><i18n>i18n.ix.px.account.menu.signout</i18n></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <li class="top-links__link top-links__link--eventos">
                                        <a href="<returnToPageURL/>" alt="<returnToPage/>"><i class="zmdi zmdi-undo"></i><span><returnToPage/></span></a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </section>
    </div>

    <div id="meControlDropdown" class="msame_Drop_root" style="display: none;" aria-expanded="false">
        <div class="msame_Drop_topb"></div>
        <div class="msame_Drop_content"><div class="msame_Drop_active"><div class="msame_Drop_active_pic">
                    <div class="msame_Drop_active_piccont">
                        <div class="msame_Drop_active_picframe">
                            <a href="#" title="Add a picture">
                                <img role="presentation" src="<%=params.photoURL %>" alt=""></a>
                        </div>
                    </div>
                </div><div class="msame_Drop_active_right">
                    <div class="msame_TxtTrunc msame_Drop_active_name"><%=params.nickname %></div>
                    <% if(params.emails && params.emails[0]){ %>
                    <div class="msame_TxtTrunc msame_Drop_active_email"><%=params.emails[0].email %></div>
                    <% } else if(params.phones && params.phones[0]){ %>
                    <div class="msame_TxtTrunc msame_Drop_active_email"><%=params.phones[0].msisdn %></div>
                    <% } %>
                </div></div>
            <div class="msame_Drop_rewards" style="display: none;"></div>
            <div class="msame_Drop_account"><div id="msame_si0" class="msame_Drop_SI">
                    <a href="<canonical/>/account/" target="_self" class="msame_TxtTrunc"><i18n>i18n.ix.px.account.menu.viewAccount</i18n></a></div></div>
            <div class="msame_Drop_links" style="display: none;"><div class="msame_Drop_links_list"></div></div>
            <div class="msame_Drop_signOut">
                <div id="msame_si1" class="msame_Drop_SI">
                    <a href="<canonical/>/account/signout/sso" target="_self" class="msame_TxtTrunc"><i18n>i18n.ix.px.account.menu.signoutEverywhere</i18n></a>
                </div>
            </div>
            <div class="msame_Drop_signOut">
                <div id="msame_si1" class="msame_Drop_SI">
                    <a href="<canonical/>/account/signout/slo" target="_self" class="msame_TxtTrunc"><i18n>i18n.ix.px.account.menu.signout</i18n></a>
                </div>
            </div>
            <div class="msame_Drop_accts" style="display: none;"><div class="msame_Drop_sep"></div><div class="msame_Drop_accts_list"></div></div></div>
    </div>
</script>