<img src="<pglogo/>" alt="Planeta Guru">

<p>
    <strong><i18n>i18n.ix.px.email.validation.code.text.ypgsc</i18n>:</strong>
</p>
<p>
    <strong><scode></scode></strong>
</p>
<p>
    <i18n>i18n.ix.px.email.validation.code.text.iyd</i18n> <a href="mailto:soporte@planeta.guru"><i18n>i18n.ix.px.email.validation.code.text.pgh</i18n></a>.
</p>
<p>
    <i18n>i18n.ix.px.email.validation.code.text.tfh</i18n>
</p>
<br>
<p>
    <i18n>i18n.ix.px.email.validation.code.text.hg</i18n>,<br>
    The PG Team
</p>