<img src="<pglogo/>" alt="Planeta Guru">
<br>
<p>
    <strong><i18n>i18n.ix.px.email.verify.text.hi</i18n> <sname></sname>,</strong>
</p>
<p>
    <i18n>i18n.ix.px.email.verify.text.pvyv</i18n>
<div align="left" style="padding-bottom:20px;padding-top:20px">
    <a style="font-size:16px;font-family:Helvetica,Helvetica neue,Arial,Verdana,sans-serif;font-weight:none;color:#ffffff;text-decoration:none;background-color:#3572b0;border-top:11px solid #3572b0;border-bottom:11px solid #3572b0;border-left:20px solid #3572b0;border-right:20px solid #3572b0;border-radius:5px;display:inline-block" class="m_6912545978489474846mobile-button" shape="rect" href="<sredirect></sredirect>" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=<sredirect></sredirect>">
        <span class="il"><i18n>i18n.ix.px.email.verify.text.verify</i18n></span> <i18n>i18n.ix.px.email.verify.text.mea</i18n>
    </a>
</div>
</p>
<p>
    <i18n>i18n.ix.px.email.verify.text.iyh</i18n>
</p>
<br>
<p>
    <i18n>i18n.ix.px.email.validation.code.text.hg</i18n>,<br>
    The PG Team
</p>