<nb-card>
    <nb-card-header>Resultado de la búsqueda</nb-card-header>
    <nb-card-body>
        <toaster-container [toasterconfig]="config"></toaster-container>
        <div class="col-sm-12" *ngIf="!subscriptions">
            <div class="alert alert-success" role="alert">
                <strong>Realiza una busqueda para visualizar los resultados</strong>.
            </div>
        </div>
        <div class="col-sm-12" *ngIf="subscriptions && (!subscriptions.content || subscriptions.content.length === 0)">
            <div class="alert alert-warning" role="alert">
                No se encontraron suscripciones para el usuario <strong>{{subscriptions.userAccount}}</strong>.
            </div>
        </div>
        <div class="col-sm-12" *ngIf="subscriptions && subscriptions.content && subscriptions.content.length > 0">
             <div class="alert alert-success" role="alert">
                <strong>Últimas suscripciones realizadas</strong>.
            </div>
            <table class="subscriptionResult">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Proveedor</th>
                        <th>Servicio</th>
                        <th>Status</th>
                        <th>Fecha Suscripción</th>
                        <th>Fecha Cancelación</th>
                        <th>Origen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of subscriptions.content">
                        <td>{{s.subscriptionRegistry.id}}</td>
                        <td>{{s.userAccount}}</td>
                        <td>{{s.sop.provider.name}}</td>
                        <td>{{s.sop.serviceMatcher.name}}</td>
                        <td>{{s.status}}</td>
                        <td>{{s.subscriptionRegistry.subscriptionDate | slice:0:16}}</td>
                        <td>{{s.subscriptionRegistry.unsubscriptionDate | slice:0:16}}</td>
                        <td class="tdShort">
                            <p style="margin-bottom: .4rem;" *ngIf="s.subscriptionRegistry.channelIn">Channel: <strong>{{s.subscriptionRegistry.channelIn}}</strong></p>
                            <p style="margin-bottom: .4rem;" *ngIf="s.subscriptionRegistry.adnetworkTracking && s.subscriptionRegistry.adnetworkTracking.source">Source: <strong>{{s.subscriptionRegistry.adnetworkTracking.source}}</strong></p>
                            <p style="margin-bottom: .4rem;" *ngIf="s.subscriptionRegistry.adnetworkTracking && s.subscriptionRegistry.adnetworkTracking.medium">Medium: <strong>{{s.subscriptionRegistry.adnetworkTracking.medium}}</strong></p>
                            <p style="margin-bottom: 0;" *ngIf="s.subscriptionRegistry.adnetworkTracking && s.subscriptionRegistry.adnetworkTracking.campaign">Campaign: <strong>{{s.subscriptionRegistry.adnetworkTracking.campaign}}</strong></p>
                        </td>
                        <td id="tdAction">
                            <button id="SR-{{s.subscriptionRegistry.id}}" type="button" *ngIf="!s.subscriptionRegistry.unsubscriptionDate" class="btn btn-danger btn-icon cancelarBtn" (click)="clickDeleteBtn($event,s)" [disabled]="disabledCancelarBtn">
                                <i class="nb-trash"></i>
                            </button>
                            <div *ngIf="s.subscriptionRegistry.unsubscriptionDate"><strong>-</strong></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm-12 input-group-append">
                <button id="billingHistoryBtn" class="btn btn-info input-group-text" (click)="onClickBillingHistory($event,subscriptions.userAccount)" [disabled]="disabledBillingHistoryBtn">Ver historial de cobros</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="billings">
    <nb-card-header>Historial de cobros por suscripción</nb-card-header>
    <nb-card-body>
        <div class="col-sm-12" *ngIf="billings && (!billings.content)">
            <div class="alert alert-warning" role="alert">
                No se encontraron cobros para el usuario <strong>{{billings.userAccount}}</strong>.
            </div>
        </div>
        <div class="col-sm-12" *ngIf="billings && billings.content">
             <div *ngFor="let sr of billings.content">
                <table class="billingResult">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Datos</th>
                            <th>Fecha Cobro</th>
                            <th>Cobro con imp.</th>
                            <th>Cobro sin imp.</th>
                            <th>Origen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sb of sr.subscriptionBillings">
                            <td>{{sr.id}}</td>
                            <td>{{sr.userAccount}}</td>
                            <td class="tdShort">
                                <p style="margin-bottom: .4rem;">Proveedor: <strong>{{sr.sop.provider.name}}</strong></p>
                                <p style="margin-bottom: .4rem;">Servicio: <strong>{{sr.sop.serviceMatcher.name}}</strong></p>
                                <p style="margin-bottom: .4rem;">F. Suscripción: <strong>{{sr.subscriptionDate | slice:0:16}}</strong></p>
                                <p style="margin-bottom: 0;">F. Cancelación: <strong>{{sr.unsubscriptionDate | slice:0:16}}</strong></p>
                            </td>
                            <td>
                                {{sb.chargedDate | slice:0:16}}
                            </td>
                            <td>{{sb.fullAmount}} {{sb.currency}}</td>
                            <td>{{sb.netAmount}} {{sb.currency}}</td>
                            <td class="tdShort">
                                <p style="margin-bottom: .4rem;" *ngIf="sr.channelIn">Channel: <strong>{{sr.channelIn}}</strong></p>
                                <p style="margin-bottom: .4rem;" *ngIf="sr.adnetworkTracking && sr.adnetworkTracking.source">Source: <strong>{{sr.adnetworkTracking.source}}</strong></p>
                                <p style="margin-bottom: .4rem;" *ngIf="sr.adnetworkTracking && sr.adnetworkTracking.medium">Medium: <strong>{{sr.adnetworkTracking.medium}}</strong></p>
                                <p style="margin-bottom: 0;" *ngIf="sr.adnetworkTracking && sr.adnetworkTracking.campaign">Campaign: <strong>{{sr.adnetworkTracking.campaign}}</strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>