@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

    .cancelarBtn {
        margin-right: auto;margin-left: auto;
        max-width: 2.2rem !important;
        max-height: 2.2rem !important;
        padding: 3px !important; 
    }
    /* 
    Generic Styling, for Desktops/Laptops 
    */
    table { 
        font-family: nb-theme(smart-table-font-family);
        font-size: nb-theme(smart-table-font-size);
        line-height: nb-theme(smart-table-line-height);
        background: nb-theme(smart-table-bg);
        color: nb-theme(smart-table-fg);
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        -webkit-box-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6);
        box-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6);
        font-weight: nb-theme(smart-table-font-weight);
        border: 0 solid #3d3780;
        scrollbar-face-color: #554db3;
        scrollbar-track-color: #332e73;
        width: 100%; 
        border-collapse: collapse; 
    }
    /* Zebra striping */
    tr:nth-of-type(odd) { 
        background: nb-theme(smart-table-bg-even);
    }
    /*  tr:hover{
          background: nb-theme(smart-table-paging-bg-active);
          color: nb-theme(smart-table-paging-fg-active);
      }*/
    th { 
        background: nb-theme(smart-table-header-bg);
        color: nb-theme(smart-table-header-fg);
        font-weight: bold; 
        font-size: nb-theme(smart-table-header-font-size);
        font-family: nb-theme(smart-table-header-font-family);
    }
    td {
        min-height: 30px;
    }

    td, th { 
        padding: 6px; 
        border: 1px solid #ccc; 
        text-align: left; 
    }

    #tdAction {text-align: center;}
    #billingHistoryBtn {margin-left: auto;margin-right: auto;}

    /* 
      Max width before this PARTICULAR table gets nasty
      This query will take effect for any screen smaller than 760px
      and also iPads specifically.
    */
    @media
    only screen 
    and (max-width: 760px), (min-device-width: 768px) 
        and (max-device-width: 1024px)  {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
            margin: 0 0 1rem 0;
        }

        tr:nth-child(odd) {
            background: nb-theme(smart-table-bg-even);
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 40%;
        }
        
        td.tdShort{
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 25%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        #tdAction{
            text-align: left !important;
        }

        /*
        Label the data
        */
        .subscriptionResult td:nth-of-type(1):before { content: "ID"; top: auto;font-weight: bold;}
        .subscriptionResult td:nth-of-type(2):before { content: "Usuario"; top: auto;font-weight: bold;}
        .subscriptionResult td:nth-of-type(3):before { content: "Proveedor"; top: auto;font-weight: bold;}
        .subscriptionResult td:nth-of-type(4):before { content: "Servicio"; top: auto;font-weight: bold;}
        .subscriptionResult td:nth-of-type(5):before { content: "Status"; top: auto;font-weight: bold;}
        .subscriptionResult td:nth-of-type(6):before { content: "F. Suscripción"; top: auto;font-weight: bold;}
        .subscriptionResult td:nth-of-type(7):before { content: "F. Cancelación"; top: auto;font-weight: bold;}
        .subscriptionResult td:nth-of-type(8):before { content: "Origen"; top: auto;font-weight: bold;}
        .subscriptionResult td:nth-of-type(9):before { content: "Acciones"; top: auto;font-weight: bold;}
        
        /*
        Label the data
        */
        .billingResult td:nth-of-type(1):before { content: "ID"; top: auto;font-weight: bold;}
        .billingResult td:nth-of-type(2):before { content: "Usuario"; top: auto;font-weight: bold;}
        .billingResult td:nth-of-type(3):before { content: "Datos"; top: auto;font-weight: bold;}
        .billingResult td:nth-of-type(4):before { content: "Fecha Cobro"; top: auto;font-weight: bold;}
        .billingResult td:nth-of-type(5):before { content: "Cobro con imp."; top: auto;font-weight: bold;}
        .billingResult td:nth-of-type(6):before { content: "Cobro sin imp."; top: auto;font-weight: bold;}
        .billingResult td:nth-of-type(7):before { content: "Origen"; top: auto;font-weight: bold;}
    }
}
