<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Buscar suscripciones</nb-card-header>
            <nb-card-body>
                <div class="form-group">
                    <p>Ingresa una dirección de correo electrónico o un MSISDN (Con el código del país y sin espacios, ej. 541121845870)</p>
                </div>
                <div class="input-group">
                    <input #userAccountInput type="text" class="form-control" placeholder="EMAIL o MSISDN">
                    <span class="input-group-append">
                        <button class="btn btn-info input-group-text" (click)="onClickSearchButton($event)">Buscar</button>
                    </span>
                </div>
                <div class="input-group">
                    <div class="col-sm-12">
                        <nb-checkbox [value]="checked" (change)="onChangeCheckbox($event)">Buscar en el proveedor</nb-checkbox>
                    </div>
                    <div class="col-sm-12" *ngIf="checked">
                        <small>
                            La busqueda se realizará consultando la DB del proveedor (cuando es posible) 
                            por lo que el tiempo de respuesta depende del país, la cantidad de proveedores y el servidor del proveedor.
                        </small>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
