<img src="https://assets.planeta.guru/images/oauth/pg_logox.png" alt="Planeta Guru">
<br>
<p>
    <strong><i18n>i18n.ix.px.email.verify.text.hi</i18n> <sname></sname>,</strong>
</p>
<p>
    <i18n>i18n.ix.px.email.verify.text.pvyv</i18n>
<div align="left" style="padding-bottom:20px;padding-top:20px">
    <i18n>i18n.ix.px.email.validation.code.text.ypgsc</i18n>: <strong><scode></scode></strong>
</div>
</p>
<p>
    <i18n>i18n.ix.px.email.verify.text.iyh</i18n>
</p>
<br>
<p>
    <i18n>i18n.ix.px.email.validation.code.text.hg</i18n>,<br>
    The PG Team
</p>