<div class="row" [nbSpinner]="getSpinnerStatus()" nbSpinnerStatus="danger" nbSpinnerMessage="Buscando...">
  <div class="col-lg-12">
    <ngx-subscriptions-search-button #buttonSearch></ngx-subscriptions-search-button>
  </div>
  <div class="col-lg-12">
    <ngx-subscriptions-search-table #tableSearch></ngx-subscriptions-search-table>
  </div>
</div>